@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


section {
    background-color: black;
    padding-bottom: 100px;
    padding-top: 10px;
    margin-top:10%;
    padding-top: 90px;
}


.grid1{
    border: 1px solid #1b1b1b;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    padding-left: 3%;
    border-width: 1%;
    border-right-width: 1px;
    padding-right: 40px;
    padding-left: 40px;
  
  
}

h3{
    margin-bottom: 0px;
    margin-top: 90px;
    font-size: 36px;
    top: 0;
    font-weight: 400;
    color: rgb(189, 158, 218);
    font-family: Quicksand, sans-serif;
    width: inherit;
    padding-right: 10px;
    margin-left: 40px;
    margin-right: 0;
    height: 150px;
    line-height: 1.25;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-weight: 400;
    font-size: 22px;
}


hr{
    border-color: #777777;
    border-style: solid;
    margin-top: 16px;
    margin-bottom: 0;
    box-sizing: content-box;
    height: 0;
    width: 90%;
    margin-left: 5%;
    

}

.h4{
    font-size: 24px;
    margin-top:100px;
    margin-bottom: 24px;
    line-height: 1.25;
    font-weight: 400;
    color: rgb(231, 231, 231);
    font-family: Quicksand, sans-serif;
    letter-spacing: normal;
    padding-left: 12%;
    box-sizing: border-box;
    display: block;
    text-align: left;
}

img{
    width: 85%;
    padding-top: 6%;
}

.p{
    padding-left: 12%;
    padding-bottom: 10% ;
    font-size: 20px;
}

.h5{
    padding-left: 12%;
    font-size: 22px;
    font-weight: 100;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;

}

@media (max-width: 640px) { 
    img{
        visibility: hidden;
    }
    .h4{
        text-align: center;

    }


}