* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  background-image:

  url("https://images.pexels.com/photos/2710043/pexels-photo-2710043.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-attachment: fixed;
  background-size:cover;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position:center;
  box-shadow:inset 0 0 0 2000px rgba(31, 31, 31, 0.444);
  min-width: 100%;



}



@media (max-width: 1000px) { 

  body{
    background-image:  url("https://images.pexels.com/photos/10066083/pexels-photo-10066083.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-attachment: fixed;
   background-repeat: no-repeat;
 background-size: contain;
 background-position-y: -2px;
   box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.498);
  ;
  }


}